<!DOCTYPE html>
<html>

<head>
    <title>SamBKCoin (lol)</title>
</head>
<style>
    .row {
        display: flex;
    }
    .column {
        flex: 50%;
    }
    #blocklist{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 5px;
        grid-template-rows: min-content;
    }
    .block {
        border: 2px solid black;
        border-radius: 4px;
        margin: 5px;
        
    }
</style>

<body>
    <div class="row">
        <div id="chainDiv" class="column">
            <h1>Current Chain:</h1>
            <div id="blocklist">

            </div>
        </div>
        <div id="transactionDiv" class="column">
            <h1>Pending Transactions:</h1>
            <div id="transactionsList">

            </div>
        </div>
    </div>
    <script src="{{url_for('static', filename='main.js')}}"></script>

</body>

</html>